* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fffcff; /* Match the background color */
}

.calculator {
    background-color: #39364e;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.display {
    background-color: #fffcff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

#expression {
    width: 100%;
    font-size: 1.5rem;
    text-align: left;
    background: none;
    border: none;
    color: #333;
    outline: none;
}

#result {
    font-size: 2.5rem;
    font-weight: bold;
    width: 100%;
    text-align: right;
    background: none;
    border: none;
    color: #333;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

button {
    padding: 20px;
    background-color: #fffcff;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color:#ffb01d;
}

.enter-btn {
    grid-column: span 2;
    background-color: #b72326;
    color: white;
    font-size: 1.5rem;
}

.enter-btn:hover {
    background-color: #ffffff;
    color: #39364e;

}
.du{
    background-color: #ffb01d; 
}

.sign-btn {
    background-color: #bdd6f0;
    grid-column: span 2; 
}
